.banner {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 340px 0 0 120px;
    background: url("/images/banner.png") no-repeat center / cover;
    height: calc(100vh - 90px);
    justify-content: space-between;
}

.banner__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
    color: #2D3448;
    font-weight: 500;
}

.banner__title {
    font-size: 52px;
}

.banner__title > span {
    font-size: 60px;
    font-weight: 800;
}

.banner__title--small-screen {
    display: none;
    font-size: 64px;
    font-weight: 800;
}

.banner__title--small-screen > span {
    font-size: 52px;
    color: #2D344830;
}

.banner__list {
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}

.banner__list--small-screen {
    display: none;
}

.banner__button {
    display: flex;
    padding: 15px 30px;
    background-color: #00B8FF;
    border: none;
    gap: 12px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.slider {
    width: fit-content;
    display: flex;
    margin: 0 auto 24px;
    gap: 19px;
    align-items: center;
}

.slider__slide {
    padding: 7.5px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.slider__slide--active {
    background-color: #00AEEF;
}

.slider-arrow {
    display: flex;
    position: absolute;
    padding: 25px;
    top: 419px;
    left: 0;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .banner {
        padding: 278px 0 0 60px;
        background: url("/images/banner_max-1440.png") no-repeat center / cover;
    }

    .banner__text {
        gap: 12px;
        margin-bottom: 28px;
    }

    .banner__title--1920 {
        display: none;
    }

    .banner__title--small-screen {
        display: block;
    }

    .banner__list {
        display: none;
    }

    .banner__list--small-screen {
        display: block;
        width: 630px;
        padding: 0;
    }

    .slider-arrow {
        padding: 0;
        top: 391px;
    }
}

@media (max-width: 1024px) {
    .slider-arrow {
        display: none;
    }

    .banner__title--small-screen {
        font-size: 48px;
    }

    .banner__title--small-screen > span {
        font-size: 40px;
    }

    .banner__list--small-screen {
        width: 420px;
    }
}

@media (max-width: 768px) {
    .banner {
        padding: 90px 0 0 20px;
        background: url("/images/banner_max-768.png") no-repeat center / cover;
    }
}
