.header {
    display: flex;
    height: 90px;
    align-items: center;
    background-color: #fff;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header-menu {
    display: flex;
    height: 32px;
    align-items: center;
}

.hamburger {
    margin-right: 40px;
    cursor: pointer;
}

.country-selector {
    display: flex;
    margin-left: 40px;
    gap: 8px;
    align-items: center;
    color: #555;
    font-weight: 600;
    cursor: pointer;
}

.right-header-menu {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts > p {
    width: fit-content;
    margin: 2px 0 0 0;
    color: #00B8FF;
    border-bottom: 1px dashed #00B8FF;
    cursor: pointer;
}

.contacts-phone {
    display: flex;
    gap: 8px;
    font-size: 22px;
    font-weight: 800;
    color: #555;
    cursor: pointer;
}

.nav-button {
    margin: 0 48px 0 72px;
    padding: 15px 30px;
    background-color: #00B8FF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
}

.nav-icons {
    display: flex;
    position: relative;
    height: 32px;
    gap: 40px;
    cursor: pointer;
}

.basket-badge {
    display: flex;
    position: absolute;
    bottom: -8px;
    right: 65px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-color: #00B8FF;
    border-radius: 100%;
    color: #fff;
}