.service {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 80px 0;
}

.service__title {
    width: fit-content;
    font-weight: 800;
    font-size: 50px;
    color: #2D3448;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: start;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 0 30%;
    min-height: 214px;
    padding: 20px 24px;
    gap: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s linear;
}

.card:hover {
    box-shadow: 0 4px 20px #00000007;
}

.card__images {
    display: flex;
    justify-content: space-between;
}

.card__image {
    width: 60px;
    height: 60px;
}

.card__more {
    display: none;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 30px;
    border: 2px solid #00B8FF;
    border-radius: 20px;
}

.card__more>img {
    filter: brightness(0) saturate(100%) invert(36%) sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.card__title {
    font-size: 20px;
    font-weight: 600;
}

.card__text {
    /* width: 425px; */
    font-size: 16px;
    font-weight: 500;
    color: #6b6b6b;
}

@media (max-width: 1440px) {
    .service {
        padding: 60px 0;
    }
}

@media (max-width: 1024px) {
    .service {
        padding: 50px 0;
    }
}

@media (max-width: 768px) {
    .service {
        padding: 40px 0;
    }

    .service__title {
        font-size: 40px;
    }

    .card-container {
        column-gap: 20px;
        justify-content: start;
    }

    .card {
        flex: 1 0 45%;
        padding: 20px;
        gap: 12px;
        box-shadow: 0 4px 20px #00000007;
    }

    .card:last-child {
        flex: 0 0 49%;
    }

    .card__image {
        width: 56px;
        height: 56px;
    }

    .card__more {
        display: flex;
    }

    .card__title {
        font-size: 18px;
    }

    .card__text {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .service {
        padding: 32px 0;
    }

    .service__title {
        font-size: 24px;
    }

    .card {
        flex: 1 0 100%;
        padding: 16px;
        gap: 8px;
    }

    .card__image {
        width: 40px;
        height: 40px;
    }

    .card__more {
        display: flex;
    }

    .card__title {
        font-size: 16px;
    }

    .card__text {
        font-size: 14px;
    }
}