@import url('header.css');
@import url('banner.css');
@import url('service.css');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FCFCFC;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1480px;
    margin: auto;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 964px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 728px;
    }
}